@font-face {
  font-family: 'Nexa Light';
  src: local('Nexa Light'),
       local('Nexa-Light'),
       url('../fonts/NexaLight.otf') format('opentype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  src: local('OpenSans Regular'),
       local('OpenSans-Regular'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  src: local('OpenSans Light'),
       local('OpenSans-Light'),
       url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: local('OpenSans Semibold'),
       local('OpenSans-Semibold'),
       url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background-color: #d5d5d5;
}

html {
    background: #0d1117;
    color: #fff;
    font: 14px/1.5 'Open Sans';
}

h1 {
    font-weight: normal;
}

.wrap {
    margin: 0 auto;
    max-width: 2000px;
    width: 100%;
}

.header {
    padding: 3em 1.5em;
}

    .header a {
        color: #fff;
    }

.header__logo {
    font-family: 'Nexa Light';
    font-size: 46px;
    line-height: 56px;
    letter-spacing: 4px;
    margin-bottom: 1rem;
}

.form_label {
    display: block;
    margin: 2em 0 1em;
}

input,
textarea {
    background: #fff;
    border: 0;
    border-radius: 3px;
    padding: 0.5em;
    width: 100%;
}

input {
    font: inherit;
}

.button {
    background: none;
    border-radius: 3px;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin-top: 1em;
    padding: 0.5em 1em;
    transition: all 0.3s;
    width: auto;
}

    .button:hover {
        background: #fff;
        color: #000;
    }

input[type='radio'] {
    display: inline-block;
    width: auto;
}

    .form_radio {
        margin-right: 1.5em;
    }

        .form_radio input {
            margin-right: 0.25em;
        }

textarea {
    height: 200px;
}

.post_form {
    background: #242424;
    padding: 1.5em;
}

#form_content h2 {
    margin: 2em 0 1em;
}

.preview {
    padding: 1.5em;
}
